<body onload="myFunc()">
    
</body>
<script type="text/javascript">
    var elt = document.getElementById("test");
    function myFunc(){
    if (elt.innerHTML === "") {
        console.log("set");
        }
    }
</script>

